* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}
li {
  list-style: none;
}
a {
  color: #214842;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: transparent;
  transition: background-color 1s ease;
}
.navbar.lazy-nav {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-family: "Poppins", sans-serif;
}
.nav-link {
  transition: 0.7s ease;
}
.logo {
  width: 130px;
  height: 130px;
  margin-left: 10px;
  object-fit: cover;
}
.dropdown {
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: transform 1s, opacity 1s;
}

.nav-menu li {
  position: relative;
}

.nav-menu li:hover .dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown li {
  width: 150px;
}

.dropdown li a {
  padding: 0.7rem 2rem;
  color: black;
  display: block;
  text-align: left;
}

.dropdown li a:hover {
  background-color: #f0f0f0;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
@media (max-width: 1054px) {
  header {
    position: sticky;
  }
  .hamburger {
    display: block;
  }
  /* .logo{
      display: none;
    } */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    left: -110%;
    top: 129px;
    gap: 0;
    flex-direction: column;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.3);
    width: 50%;
    height: 83vh;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-item a {
    color: black;
    font-size: 20px;
  }
  .nav-item a {
    color: #214842;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
  }
  .dropdown li a:hover {
    background-color: black;
  }
  .nav-menu.active {
    left: 0;
  }
  .navbar {
    background-color: white;
  }
}
.main-container {
  width: 100%;
}

.main-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  padding: 20px 0px;
  font-size: 50px;
  color: #214842;
}
.container p {
  padding-top: 10px;
  padding-bottom: 40px;
  font-size: 25px;
  color: #6c757d;
}

.container-contents {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sub-contents {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub-contents-icon {
  height: 100px;
  width: 100px;
  border-radius: 90%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-contents-icon img {
  height: 60%;
  width: 60%;
  object-fit: cover;
}
.sub-contents-icon:hover {
  background-color: #214842;
}
.sub-contents h4 {
  font-size: 18px;
  color: #214842;
}
.sub-contents p {
  font-size: 15px;
  color: #6c757d;
}
.container-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}
.sub-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "item-1 item-2 item-3"
    "item-4 item-5 item-3";
  width: 85%;
  gap: 20px;
}

.item-1 {
  grid-area: item-1;
  border-radius: 20px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
/* .item-1 > * {
  padding: 20px 5px;
} */
.item-1 h3 {
  font-size: 25px;
  color: #214842;
}
.item-1 p {
  font-size: 20px;
  color: #6c757d;
}
.item-1 button {
  padding: 10px 25px;
  border-radius: 24px;
  border: none;
  background-color: #efc368;
  color: #214842;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
.item-2 {
  grid-area: item-2;
  border-radius: 20px;
}
.item-2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 20px;
}
.item-2 img:hover {
  transform: scale(1.07);
}
.item-3 {
  grid-area: item-3;
  border-radius: 20px;
}
.item-3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 20px;
}
.item-3 img:hover {
  transform: scale(1.07);
}
.item-4 {
  grid-area: item-4;
  border-radius: 20px;
}
.item-4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 20px;
}
.item-4 img:hover {
  transform: scale(1.07);
}
.item-5 {
  grid-area: item-5;
  border-radius: 20px;
}
.item-5 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 20px;
}
.item-5 img:hover {
  transform: scale(1.07);
}
.container-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.container-2-left {
  width: 40%;
}
.image-container {
  width: 80%;
  height: 400px;
}
.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.container-2-right {
  width: 45%;
}
.right-items-1 {
  display: flex;
  align-items: center;
}
.right-items-icon {
  height: 45px;
  width: 45px;
  background-color: #efc368;
  border-radius: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-items-content {
  padding: 20px 15px;
}
.container-right-contents h1 {
  color: #214842;
  padding-bottom: 20px;
}
.right-items-content h3 {
  font-size: 18px;
  font-weight: 100;
  color: #214842;
}
.right-items-2 {
  padding-top: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-items-2 h3 {
  font-size: 18px;
  font-weight: 100;
  color: #214842;
  text-align: left;
  padding-bottom: 5px;
}
/* .footer-contents {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #efc368;
}
.footer-contents p{
  font-size: 15px;
  color: white;
  padding: 10px;
}
.footer-contents h4{
  font-size: 18px;
  color: #efc368;
}
.footer-images{
  gap: 10PX;
  width: 100%;
  height: 200PX;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "footer-item-1 footer-item-2 footer-item-3"
                      "footer-item-4 footer-item-5 footer-item-6";
}
.footer-images img{
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
.footer {
  width: 100%;
  background-color: #214842;
  padding: 40px 0px;
}
.footer-contents ul li {
  list-style: none;
  padding: 5px 10px;
  color: white;
}
.phone-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-contents {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-contents-first {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-contents-first h3 {
  color: white;
  padding-bottom: 15px;
}
.footer-contents-shop {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-contents-shop h3 {
  padding-bottom: 13px;
  color: white;
  font-weight: lighter;
}

.footer-contents-shop ul li {
  list-style: none;
  padding-bottom: 8px;
  color: white;
}
.logos {
  width: 70%;
  height: 40px;
  display: flex;
  justify-content: center
}
.logos img {
  height: 100%;
  object-fit: contain;
  width: 80%;
}
.footer-contents h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: lighter;
}
.logo-img {
  height: 50px;
  width: 150px;
}
.footer-contents-grid {
  width: 30%;
  padding-right: 10px;
}

.footer-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  height: auto;
}
.item-footer-1 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
.item-footer-2 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
.item-footer-3 {
  height: 100%;
  width: 100%;
}
.item-footer-3 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
.item-footer-4 {
  height: 100%;
  width: 100%;
}
.item-footer-4 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
.item-footer-5 {
  height: 100%;
  width: 100%;
}
.item-footer-5 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
.item-footer-6 {
  height: 100%;
  width: 100%;
}
.item-footer-6 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .container-contents div {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 20px;
  }
  .sub-contents-icon img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-bottom: 0px;
  }
  .sub-container {
    gap: 10px;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "item-1 item-2"
      "item-4 item-5"
      "item-3 item-3";
  }
  .container-2 {
    flex-direction: column-reverse;
  }
  .container-2-right {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
  }
  .container-2-left {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .image-container {
    width: 30%;
  }
  .image-container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 20px;
  }
  .sub-contents-icon {
    height: 70px;
    width: 70px;
  }
  .footer-main {
    flex-wrap: wrap;
  }
  .item-footer-1 {
    height: 100%;
    width: 100%;
  }
  .footer-main div {
    flex-basis: 50%;
    padding-top: 40px;
    box-sizing: border-box;
  }
  .footer-contents-first {
    align-items: start;
    justify-content: start;
    padding-left: 20px;
  }
  .footer-contents-first h3 {
    padding-bottom: 0px;
    padding-right: 0px;
  }
  .logos {
    align-items: start;
    justify-content: start;
  }
  .footer-contents-shop {
    align-items: start;
    justify-content: space-evenly;
    padding-left: 20px;
  }
  .footer-contents-shop ul li {
    padding: 40px 0px;
    font-size: 20px;
  }
}
@media (max-width: 780px) {
  .container-contents div {
    flex-basis: 100%;
    flex-grow: 1;
  }
  .container h1 {
    padding: 10px 0px;
    font-size: 25px;
  }
  .sub-contents-icon img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-bottom: 0px;
  }
  .container p {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
  }
  .sub-contents h4 {
    font-size: 18px;
  }
  .sub-contents p {
    font-size: 15px;
  }
  .sub-container {
    height: auto;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas:
      "item-1 "
      "item-2 "
      "item-5"
      "item-4"
      "item-3";
  }
  .right-items-2 {
    flex-direction: column;
    align-items: flex-start;
  }
  .right-items-2 > * {
    padding-top: 10px;
  }
  .container-right-contents h1 {
    color: #214842;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
  }
  .footer-main div {
    flex-basis: 100%;
    padding-top: 40px;
  }
  .footer-contents-first {
    align-items: center;
    justify-content: center;
  }
  .logos {
    align-items: center;
    justify-content: center;
  }
  .footer-contents-shop {
    align-items: center;
    justify-content: center;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    height: auto;
  }
  .footer-contents ul li {
    padding-bottom: 0px;
  }
  .footer-contents-grid {
    width: 30%;
    padding-right: 0px;
    height: auto;
  }
  .image-container {
    width: 80%;
  }
}
